[tool.commitizen]
name = "cz_conventional_commits"
version = "0.2.0"
tag_format = "v$version"
version_scheme = "semver2"
update_changelog_on_bump = true
major_version_zero = true
version_files = ["pyproject.toml", "uv.lock"]
